# Exercícios - Estatística I

### Questão 1

Os exercícios de 1 a 5 serão desenvolvidos utilizando o _dataset_ `Titanic.csv`:
    
Calcule a frequência absoluta para os sobreviventes no _Titanic_.

__Dica.:__ Utilize a função `.value_counts()`

Carregando as principais bibliotecas que iremos utilizar:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

dados = sns.load_dataset('titanic')
dados.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [18]:
# Frequencia Absoluta
for col in dados.query("survived == 1").columns[1:]:
  print(dados.query("survived == 1")[col].value_counts())
  print('-'*50)

1    136
3    119
2     87
Name: pclass, dtype: int64
--------------------------------------------------
female    233
male      109
Name: sex, dtype: int64
--------------------------------------------------
24.00    15
36.00    11
35.00    11
27.00    11
22.00    11
         ..
55.00     1
32.50     1
12.00     1
0.92      1
47.00     1
Name: age, Length: 65, dtype: int64
--------------------------------------------------
0    210
1    112
2     13
3      4
4      3
Name: sibsp, dtype: int64
--------------------------------------------------
0    233
1     65
2     40
3      3
5      1
Name: parch, dtype: int64
--------------------------------------------------
13.0000     16
26.0000     15
7.7500      12
10.5000      9
26.5500      8
            ..
55.4417      1
75.2500      1
108.9000     1
247.5208     1
24.0000      1
Name: fare, Length: 153, dtype: int64
--------------------------------------------------
S    217
C     93
Q     30
Name: embarked, dtype: int64
--------------------------------------------------
First     136
Third     119
Second     87
Name: class, dtype: int64
--------------------------------------------------
woman    205
man       88
child     49
Name: who, dtype: int64
--------------------------------------------------
False    254
True      88
Name: adult_male, dtype: int64
--------------------------------------------------
B    35
C    35
D    25
E    24
F     8
A     7
G     2
Name: deck, dtype: int64
--------------------------------------------------
Southampton    217
Cherbourg       93
Queenstown      30
Name: embark_town, dtype: int64
--------------------------------------------------
yes    342
Name: alive, dtype: int64
--------------------------------------------------
False    179
True     163
Name: alone, dtype: int64
--------------------------------------------------

### Questão 2

Os exercícios de 1 a 5 serão desenvolvidos utilizando o _dataset_ `Titanic.csv`:
    
Calcule a frequência relativa, relativa percentual e acumulativa para os sobreviventes no _Titanic_.

__Dica.:__ Utilize a função `.value_counts()`

In [19]:
# Frequencia Relativa
for col in dados.query("survived == 1").columns[1:]:
  print(dados.query("survived == 1")[col].value_counts() / dados.query("survived == 1")[col].value_counts().sum())
  print('-'*50)

1    0.397661
3    0.347953
2    0.254386
Name: pclass, dtype: float64
--------------------------------------------------
female    0.681287
male      0.318713
Name: sex, dtype: float64
--------------------------------------------------
24.00    0.051724
36.00    0.037931
35.00    0.037931
27.00    0.037931
22.00    0.037931
           ...
55.00    0.003448
32.50    0.003448
12.00    0.003448
0.92     0.003448
47.00    0.003448
Name: age, Length: 65, dtype: float64
--------------------------------------------------
0    0.614035
1    0.327485
2    0.038012
3    0.011696
4    0.008772
Name: sibsp, dtype: float64
--------------------------------------------------
0    0.681287
1    0.190058
2    0.116959
3    0.008772
5    0.002924
Name: parch, dtype: float64
--------------------------------------------------
13.0000     0.046784
26.0000     0.043860
7.7500      0.035088
10.5000     0.026316
26.5500     0.023392
              ...
55.4417     0.002924
75.2500     0.002924
108.9000    0.002924
247.5208    0.002924
24.0000     0.002924
Name: fare, Length: 153, dtype: float64
--------------------------------------------------
S    0.638235
C    0.273529
Q    0.088235
Name: embarked, dtype: float64
--------------------------------------------------
First     0.397661
Third     0.347953
Second    0.254386
Name: class, dtype: float64
--------------------------------------------------
woman    0.599415
man      0.257310
child    0.143275
Name: who, dtype: float64
--------------------------------------------------
False    0.74269
True     0.25731
Name: adult_male, dtype: float64
--------------------------------------------------
B    0.257353
C    0.257353
D    0.183824
E    0.176471
F    0.058824
A    0.051471
G    0.014706
Name: deck, dtype: float64
--------------------------------------------------
Southampton    0.638235
Cherbourg      0.273529
Queenstown     0.088235
Name: embark_town, dtype: float64
--------------------------------------------------
yes    1.0
Name: alive, dtype: float64
--------------------------------------------------
False    0.523392
True     0.476608
Name: alone, dtype: float64
--------------------------------------------------

In [20]:
# Frequencia Relativa Percentual
for col in dados.query("survived == 1").columns[1:]:
  print(dados.query("survived == 1")[col].value_counts() / dados.query("survived == 1")[col].value_counts().sum() * 100)
  print('-'*50)

1    39.766082
3    34.795322
2    25.438596
Name: pclass, dtype: float64
--------------------------------------------------
female    68.128655
male      31.871345
Name: sex, dtype: float64
--------------------------------------------------
24.00    5.172414
36.00    3.793103
35.00    3.793103
27.00    3.793103
22.00    3.793103
           ...
55.00    0.344828
32.50    0.344828
12.00    0.344828
0.92     0.344828
47.00    0.344828
Name: age, Length: 65, dtype: float64
--------------------------------------------------
0    61.403509
1    32.748538
2     3.801170
3     1.169591
4     0.877193
Name: sibsp, dtype: float64
--------------------------------------------------
0    68.128655
1    19.005848
2    11.695906
3     0.877193
5     0.292398
Name: parch, dtype: float64
--------------------------------------------------
13.0000     4.678363
26.0000     4.385965
7.7500      3.508772
10.5000     2.631579
26.5500     2.339181
              ...
55.4417     0.292398
75.2500     0.292398
108.9000    0.292398
247.5208    0.292398
24.0000     0.292398
Name: fare, Length: 153, dtype: float64
--------------------------------------------------
S    63.823529
C    27.352941
Q     8.823529
Name: embarked, dtype: float64
--------------------------------------------------
First     39.766082
Third     34.795322
Second    25.438596
Name: class, dtype: float64
--------------------------------------------------
woman    59.941520
man      25.730994
child    14.327485
Name: who, dtype: float64
--------------------------------------------------
False    74.269006
True     25.730994
Name: adult_male, dtype: float64
--------------------------------------------------
B    25.735294
C    25.735294
D    18.382353
E    17.647059
F     5.882353
A     5.147059
G     1.470588
Name: deck, dtype: float64
--------------------------------------------------
Southampton    63.823529
Cherbourg      27.352941
Queenstown      8.823529
Name: embark_town, dtype: float64
--------------------------------------------------
yes    100.0
Name: alive, dtype: float64
--------------------------------------------------
False    52.339181
True     47.660819
Name: alone, dtype: float64
--------------------------------------------------

In [21]:
# Frequencia Cumulativa
for col in dados.query("survived == 1").columns[1:]:
  print(dados.query("survived == 1")[col].value_counts().cumsum())
  print('-'*50)

1    136
3    255
2    342
Name: pclass, dtype: int64
--------------------------------------------------
female    233
male      342
Name: sex, dtype: int64
--------------------------------------------------
24.00     15
36.00     26
35.00     37
27.00     48
22.00     59
        ...
55.00    286
32.50    287
12.00    288
0.92     289
47.00    290
Name: age, Length: 65, dtype: int64
--------------------------------------------------
0    210
1    322
2    335
3    339
4    342
Name: sibsp, dtype: int64
--------------------------------------------------
0    233
1    298
2    338
3    341
5    342
Name: parch, dtype: int64
--------------------------------------------------
13.0000      16
26.0000      31
7.7500       43
10.5000      52
26.5500      60
           ...
55.4417     338
75.2500     339
108.9000    340
247.5208    341
24.0000     342
Name: fare, Length: 153, dtype: int64
--------------------------------------------------
S    217
C    310
Q    340
Name: embarked, dtype: int64
--------------------------------------------------
First     136
Third     255
Second    342
Name: class, dtype: int64
--------------------------------------------------
woman    205
man      293
child    342
Name: who, dtype: int64
--------------------------------------------------
False    254
True     342
Name: adult_male, dtype: int64
--------------------------------------------------
B     35
C     70
D     95
E    119
F    127
A    134
G    136
Name: deck, dtype: int64
--------------------------------------------------
Southampton    217
Cherbourg      310
Queenstown     340
Name: embark_town, dtype: int64
--------------------------------------------------
yes    342
Name: alive, dtype: int64
--------------------------------------------------
False    179
True     342
Name: alone, dtype: int64
--------------------------------------------------

### Questão 3

Os exercícios de 1 a 5 serão desenvolvidos utilizando o _dataset_ `Titanic.csv`:
    
Utilizando a coluna `Age` do _dataset Titanic_, defina as principais métricas estatísticas para essa variável tais como:
- Média;
- Desvio Padrão;
- Mínimo;
- Primeiro Quartil;
- Segundo Quartil (Mediana);
- Terceiro Quartil;
- Distância Interquartil (IQR);
- Máximo;
- Skewness;
- Moda.

In [23]:
print(f"Media: {dados['age'].mean()}")
print(f"Desvio Padrão: {dados['age'].std()}")
print(f"Minimo: {dados['age'].min()}")
print(f"Primeiro quartil: {dados['age'].quantile(.25)}")

Media: 29.69911764705882

### Questão 4

Os exercícios de 1 a 5 serão desenvolvidos utilizando o _dataset_ `Titanic.csv`:
    
Crie um gráfico da dispersão das idades dos passageiros do _Titanic_ e identifique os pontos onde se encontram a média, mediana e moda das idades.

### Questão 5

Os exercícios de 1 a 5 serão desenvolvidos utilizando o _dataset_ `Titanic.csv`:
    
Ainda trabalhando com os valores das idades crie três _Boxplots_:
- _Boxplot_ das idades para todos os passageiros;
- _Boxplot_ das idades dos passageiros separados pelo sexo.
- _Boxplot_ das idades dos passageiros separados pelo sexo e por sobreviventes.

Com o dataset `penguins`, responda as questões abaixo:

sns.load_dataset('penguins')

### Questão 6

Classifique o tipo de dado de cada coluna

### Questão 7
Calcule a frequência absoluta para cada espécie de pinguim

### Questão 8
Calcule a frequência relativa, relativa percentual e acumulativa para os sobreviventes no Titanic

### Questão 9
Utilizando a coluna `body_mass_g` do dataset Penguins, defina as principais métricas estatísticas para essa variável tais como:

- Média;
- Desvio Padrão;
- Mínimo;
- Primeiro Quartil;
- Segundo Quartil (Mediana);
- Terceiro Quartil;
- Distância Interquartil (IQR);
- Máximo;
- Skewness;
- Moda.

### Questão 10
Crie um gráfico da dispersão da massa dos pinguins e identifique os pontos onde se encontram a média, mediana e moda das idades.

### Questão 11
Ainda trabalhando com os valores das massas dos pinguins crie três Boxplots:

- Boxplot das massas para todos os pinguins
- Boxplot das massas dos pinguins separados pelo sexo.
- Boxplot das massas dos pinguins separados pelo sexo e pela espécies.